<p>dice works!</p>
 <div class="parent">
    <div class="child1">
        <img src="/assets/dice 1.png" alt=""height="150px" width="150px" *ngIf="r==1">
        <img src="/assets/dice 2.png" alt=""height="150px" width="150px" *ngIf="r==2">
        <img src="/assets/dice 3.png" alt=""height="150px" width="150px" *ngIf="r==3">
        <img src="/assets/4.1.jpg" alt=""height="150px" width="150px" *ngIf="r==4">
        <img src="/assets/5.1.jpg" alt=""height="150px" width="150px" *ngIf="r==5">
        <img src="/assets/dice 6.png" alt=""height="150px" width="150px" *ngIf="r==6">
        <br><br>

        <button (click)="result()">play</button>
    </div>
 </div>
