<label for="">search</label>
<input type="text" [(ngModel)]="term" (keyup)="search()" placeholder="search">

<label for="">Column</label>
<select [(ngModel)]="column">
    <option >color</option>
    <option >model</option>
    <option >fuel</option>
</select>
<label for="">Order</label>
<select [(ngModel)]="order">
    <option value="asc">ascending</option>
    <option value="desc">descending</option>
</select>
<button (click)="sort()">sort</button>

<label for="">page</label>
<select [(ngModel)]="page" (change)="pagination()">

<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>


</select>
<br><br>





<table>
    <thead>
            <td>Vehicle</td>
            <td>manufacturer</td>
            <td>model</td>
            <td>type</td>
            <td>fuel</td>
            <td>color</td>
            <td>image</td>
            <td>cost</td>
            <td>id</td>
    </thead>
    <tbody>
        <tr *ngFor="let vechicle of vechicles">
            <td>{{vechicle.vechicle}}</td>
            <td>{{vechicle.manufacturer}}</td>
            <td>{{vechicle.model}}</td>
            <td>{{vechicle.type}}</td>
            <td>{{vechicle.fuel}}</td>
            <td>{{vechicle.color}}</td>
            <td> <img src="{{vechicle.image}}" alt="" width="100px">

            </td>
            <td>{{vechicle.cost}}</td>
            <td>{{vechicle.id}}</td>
            <td>
                <button routerLink="../vechicle-details/{{vechicle.id}}">view</button>
                <button (click)="delete(vechicle.id)">delete</button>
            </td>

        </tr>
    </tbody>
</table>