<div class="parent">
    <div class="child1">
        <h1 routerLink="home">Home</h1>
        <h1 routerLink="welcome">welcome</h1>
        <h1 routerLink="data-binding">Data-Binding</h1>
        <h1 routerLink="calculator">Calculator</h1>
        <h1 routerLink="rectangular">Rectangular</h1>
        <h1 routerLink="circle">Circle</h1>
        <h1 routerLink="dice">dies</h1>
        <h2 routerLink="directives"> Directives</h2>
        <h2 routerLink="pipes">Pipes</h2>
        <h2 routerLink="task">Task</h2>
        <h2 routerLink="flipcart">Flipcart</h2>
        <h2 routerLink="higher-order"> Higherorder</h2>
        <h2 routerLink="amazon">Amazon</h2>
        <h2 routerLink="amazon1">Amazon1</h2>
        <h2 routerLink="employe">Employe</h2>
        <h2 routerLink="vechicle">vechicle</h2>
        <h2 routerLink="bank">bank</h2>
        <h2 routerLink="fakeflipkart">FakeFlipkart</h2>
        <h2 routerLink="email">Email</h2>
        <h2 routerLink="create-vehicle">creta_vehicle</h2> 
         <h2 routerLink="create-user"> create-user</h2>
         <h2 routerLink="user-student">user-student</h2>
        
        


        <button (click)="logout()">logout</button>
    </div>
    <div class="child2">
        <router-outlet></router-outlet>

    </div>

</div>